body{
  font-family:tahoma;
  font-size:8px;
}

.header{
  
}

.header h1{
  font-family: 'Buda';
  font-size: 30px;
  color: #c0c0c0;
  text-transform: uppercase;
}

#navtop{
  position: absolute;
  top: 0px;
  right:10%;
}

#navtop li{
  background-color:black;
  display: inline-block;
  padding: 5px;
  height:100%;
  text-transform: lowercase;
  font-family: 'garamond';
  color: #c0c0c0;
  text-decoration:none;
  font-size:10px;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

#navtop li:hover{
  background-color:white;
}
